<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Chatroom
        </a>

        <a class="navbar-item">
          Messages
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Account
          </a>

          <div class="navbar-dropdown">
            <% if logged_in? %>
              <%= button_to "Wyloguj się", logout_path, method: :delete,class: "navbar-item" %>
            <% else %>
              <%= link_to "Zaloguj się", login_path, class: "navbar-item" %>
              <a class="navbar-item">
                Zarejestruj się
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <% if !logged_in? %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Zaloguj się", login_path, class: "button is-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>